body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: left;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 50px;
    border: none;
    border-radius: 5px;
}

.login-form, .register-form {
    display: none;
    
}

h2 {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
}

